// Fonts
$font-main: "Open Sans", Arial, sans-serif;


// Colors
$color-font: #B6B4C6;
$color-font-lilac: #C7BFFF;
$color-lilac: #8F7FFF;
$color-bg-light: #242B35;
$color-bg-dark: #171E28;
$color-border: #3D444E;
$color-red: #FF6A59;
$color-green: #27AE60;


